<footer class="footer">
    <div class="footer-div">
        <nav class="footer-div-nav">
            <ul>
                <li class="footer-div-nav-links">
                    <a class="footer-div-nav-links-a" title="Link1" href="https://www.create-store.com/es">Link1</a>
                </li>
                <li class="footer-div-nav-links">
                    <a class="footer-div-nav-links-a" title="Link2" href="https://www.create-store.com/es">Link2</a>
                </li>
                <li class="footer-div-nav-links">
                    <a class="footer-div-nav-links-a" title="Link3" href="https://www.create-store.com/es">Link3</a>
                </li>
                <li class="footer-div-nav-links">
                    <a class="footer-div-nav-links-a" title="Link4" href="https://www.create-store.com/es">Link4</a>
                </li>
            </ul>
        </nav>
        <nav class="footer-div-socialmediaNav">
            <ul>
                <li class="footer-div-socialmediaNav-links">
                    <a class="footer-div-socialmediaNav-links-a" title="Facebook"
                        href="https://www.facebook.com/createspainfacebook" target="_blank">FB</a>
                </li>
                <li class="footer-div-socialmediaNav-links">
                    <a class="footer-div-socialmediaNav-links-a" title="Twitter" href="https://www.create-store.com/es"
                        target="_blank">TW</a>
                </li>
                <li class="footer-div-socialmediaNav-links">
                    <a class="footer-div-socialmediaNav-links-a" title="Google+" href="https://www.create-store.com/es"
                        target="_blank">G+</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>