<header class="header">
  <div class="header-content">
    <div class="header-content-title">
      <a class="header-content-title-a" href="https://www.create-store.com/es"><img src="./assets/images/logo.png"
          title="alien logo" alt="alien logo" /></a>
      <h1 class="header-content-title-h1">LayoutDeEjemplo</h1>
    </div>
    <nav class="header-content-nav">
      <ul class="header-content-nav-ul">
        <li class="header-content-nav-ul-links">
          <a class="header-content-nav-ul-links-a" title="Link1" href="https://www.create-store.com/es">Link1</a>
        </li>
        <li class="header-content-nav-ul-links">
          <a class="header-content-nav-ul-links-a" title="Link2" href="https://www.create-store.com/es">Link2</a>
        </li>
        <li class="header-content-nav-ul-links">
          <a class="header-content-nav-ul-links-a" title="Link3" href="https://www.create-store.com/es">Link3</a>
        </li>
        <li class="header-content-nav-ul-links">
          <a class="header-content-nav-ul-links-a" title="Link4" href="https://www.create-store.com/es">Link4</a>
        </li>
      </ul>
    </nav>
  </div>
</header>