<header class="header">
  <div class="header-div">
    <a href="https://www.create-store.com/es"><img src="./assets/images/logo.png" title="alien logo"
        alt="alien logo"></a>
    <h1 class="header-div-title">LayoutDeEjemplo</h1>
    <nav class="header-div-nav">
      <ul>
        <li class="header-div-nav-links"><a class="header-div-nav-links-a" title="Link1"
            href="https://www.create-store.com/es">Link1</a></li>
        <li class="header-div-nav-links"><a class="header-div-nav-links-a" title="Link2"
            href="https://www.create-store.com/es">Link2</a></li>
        <li class="header-div-nav-links"><a class="header-div-nav-links-a" title="Link3"
            href="https://www.create-store.com/es">Link3</a></li>
        <li class="header-div-nav-links"><a class="header-div-nav-links-a" title="Link4"
            href="https://www.create-store.com/es">Link4</a></li>
      </ul>
    </nav>
  </div>
</header>