<section class="section">
    <article class="section-article-1">
        <h2 class="section-article-1-h2">Lorem ipsum dolor sit amet</h2>
        <p class="section-article-1-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, sapiente
            praesentium. Eaque quo laboriosam, laborum consequuntur eius possimus pariatur a animi eveniet iure,
            asperiores quos ab tenetur est blanditiis unde. </p>
    </article>
    <article class="section-article-2">
        <h2 class="section-article-2-h2">Lorem ipsum dolor sit amet</h2>
        <p class="section-article-2-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, sapiente
            praesentium. Eaque quo laboriosam, laborum consequuntur eius possimus pariatur a animi eveniet iure,
            asperiores quos ab tenetur est blanditiis unde. </p>
    </article>
    <article class="section-article-3">
        <h2 class="section-article-3-h2">Lorem ipsum dolor sit amet</h2>
        <p class="section-article-3-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, sapiente
            praesentium. Eaque quo laboriosam, laborum consequuntur eius possimus pariatur a animi eveniet iure,
            asperiores quos ab tenetur est blanditiis unde. </p>
    </article>


</section>