.main {
    display: flex;
    @include tablet {
        background-color: $--color-background-6;
        min-height: 88vh;
    }
}
.aside{
    display: none;
    @include tablet {
                display: flex;
                flex-direction: column;
                margin: 133px 50px 0 0 ;
            width: 30%;
            
            background-color: $--color-background-7;
            
           
            justify-content: center;
            
        }
    @include desktop {
        width: 40%;
        }
}