.section {
  margin: auto;
  font-family: $font-text;
  display: flex;
  flex-direction: column;
  padding: 143px 10px 10px 10px;

  /* Artículo 1 y 3*/
  &-article {
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid $--black;

    &-h2 {
      @include t($defaultFontSize, 30px);
      font-weight: 900;
    }

    &-p {
      @include t($textFontSize, 12px);
      padding-bottom: 10px;
    }
  }

  /* Artículo 2 */
  &-article-2 {
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid $--black;

    &-h2 {
      @include t($defaultFontSize, 30px);
      font-weight: 900;
    }

    &-p {
      border-left: 4px solid $--grey;
      @include t($textFontSize, 12px);
      padding-left: 10px;
      margin: 10px;
    }
  }
}