.section {
  margin: auto;
  font-family: $font-text;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 133px;

  @include tablet {
    min-height: 72vh;
  }

  @include desktop {
    width: 60%;
    margin: 73px 0 0 50px;
    background-color: $--color-background-1;
    padding-top: 3%;
  }

  /* Artículo 1 y 3*/
  &-article {
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid $--black;

    &-h2 {
      @include t($defaultFontSize, 30px);
      font-weight: 900;
      margin-bottom: 10px;
      @include tablet {
        @include t($tabletFontSize, 30px);
        font-weight: 900;
      }
      @include desktop {
        @include t($desktopFontSize, 30px);
        font-weight: 900;
      }
    }

    &-p {
      @include t($textFontSize, 12px);
      padding-bottom: 10px;
      @include tablet {
        @include t($textTabletFontSize, 18px);
      }
      @include desktop {
        @include t($textDesktopFontSize, 18px);
      }
    }
  }

  /* Artículo 2 */
  &-article-2 {
    margin: 0 10px 10px 10px;
    border-bottom: 1px solid $--black;

    &-h2 {
      @include t($defaultFontSize, 30px);
      font-weight: 900;
      @include tablet {
        @include t($tabletFontSize, 30px);
        font-weight: 900;
      }
      @include desktop {
        @include t($desktopFontSize, 30px);
        font-weight: 900;
      }
    }

    &-p {
      border-left: 4px solid $--grey;
      @include t($textFontSize, 12px);
      padding-left: 10px;
      margin: 10px;
      @include tablet {
        @include t($textTabletFontSize, 18px);
      }
      @include desktop {
        @include t($textDesktopFontSize, 18px);
      }
    }
  }
}
